Website Requirements:

    Title/Logo/Copyrights (on each page) - 0.5 points
    Navigation (on each page) - 0.5 points
    Use of at least two columns (on each page )- 1 point total
    Use of at least two images with alternative text (for the entire site) - 0.5 points
    Use of at least one unordered list or numbered list (for the entire site) - 0.5 points
    Use of at least one font-family (for the entire site) -  0.5 points
    Use of at least one form (for the entire site) - 0.5 points; this is different from your prototype, but has to be
    Site should be functional (for the entire site) - all links should work, images show up, etc. - 1 point